<form class="search">
    <header>
      <h4>
        Opciones de Búsqueda
      </h4>
    </header>
    <div>
      <div class="inlineflex">
        <fieldset>
          <legend>
            Distrito Judicial
          </legend>
          <input matInput placeholder="Distrito Judicial">
        </fieldset>

        <fieldset>
          <legend>
            Instancia
          </legend>
          <input matInput placeholder="Instancia">
        </fieldset>
      </div>

      <div class="inlineflex">
        <fieldset>
          <legend>
            Sala
          </legend>
          <input matInput placeholder="Sala">
        </fieldset>

        <fieldset>
          <legend>
            CUIJ-Carátula-Tipo de Audiencia
          </legend>
          <input matInput placeholder="CUIJ-Carátula-Tipo de Audiencia">
        </fieldset>
      </div>

      <div class="inlineflex">   
        <fieldset>
          <legend>
            Fecha desde
          </legend>
          <input matInput type="date">
        </fieldset>

        <fieldset>
          <legend>
            Fecha hasta
          </legend>
          <input matInput type="date">
        </fieldset>
      </div>
    </div>
</form>
