<form>
  <h2>Filtar audiencias</h2>

  <div class="filters">
    <mat-form-field>
      <mat-label>Filtrar por Fecha</mat-label>
      <input matInput (keyup)="applyFilter($event, 'fecha')" placeholder="Filtrar por Fecha">
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Filtrar por Sala</mat-label>
      <input matInput (keyup)="applyFilter($event, 'sala')" placeholder="Filtrar por Sala">
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Filtrar por Juez</mat-label>
      <input matInput (keyup)="applyFilter($event, 'juez')" placeholder="Filtrar por Juez">
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Filtrar por Tipo de Causa</mat-label>
      <input matInput (keyup)="applyFilter($event, 'tipoCausa')" placeholder="Filtrar por Tipo de Causa">
    </mat-form-field>    
  </div>
</form>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-table">

    <!-- Botón de expansión -->
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let audiencia">
        <button mat-icon-button (click)="toggleRow(audiencia); $event.stopPropagation()">
          <mat-icon>{{ expandedRow === audiencia ? 'expand_less' : 'expand_more' }}</mat-icon>
        </button>
      </td>
      
    </ng-container>

    <!-- CUIJ Column -->
    <ng-container matColumnDef="CUIJ">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CUIJ </th>
      <td mat-cell *matCellDef="let audiencia"> {{audiencia.CUIJ}} </td>
    </ng-container>

    <!-- Caratula Column -->
    <ng-container matColumnDef="caratula">
      <th mat-header-cell *matHeaderCellDef> Carátula </th>
      <td mat-cell *matCellDef="let audiencia"> {{audiencia.caratula}} </td>
    </ng-container>

    <!-- Tipo Column -->
    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
      <td mat-cell *matCellDef="let audiencia"> {{audiencia.tipo}} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let audiencia">
        <nav class="inlineflex">
          <div>
            <button mat-icon-button (click)="editAudiencia(audiencia)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>

          <div>
            <button mat-icon-button (click)="deleteAudiencia(audiencia)">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
        </nav>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row" (click)="toggleRow(row)"></tr>

    <tr *matRowDef="let row; columns: ['expand'];" class="expanded-row"
    [class.expanded]="expandedRow === row">
    <td [attr.colspan]="displayedColumns.length + 1"> <!-- +1 por la columna de expansión -->
      <div class="expand-content" *ngIf="expandedRow === row">
        <p><strong>Fecha:</strong> {{ row.fecha }}</p>
        <p><strong>Hora de inicio:</strong> {{ row.horaInicio }}</p>
        <p><strong>Duración:</strong> {{ row.duracion }} minutos</p>
      </div>
    </td>
  </tr>


  </table>

  <div class="footer-table">
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    <button mat-icon-button class="add-button" (click)="openDialog()">
      <mat-icon>add_2</mat-icon>
    </button>
  </div>
</div>
