* {
    box-sizing: border-box;
}

.inlineflex {
    display: inline-flex;
}

form {
    padding: 1rem;
    background: darkslategray;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    h2 {
        margin: 0 2rem;
        color: whitesmoke;
    }
}

.filters {
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

table {
    border-collapse: collapse;
    padding: .5rem;
    width: 100%;
}

.mat-mdc-form-field {
    padding: .5rem;
    font-size: 20px;
    width: 100%;
}

td, th {
    width: 25%;
}

.footer-table {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.expanded-row {
    background: gainsboro;
    padding: 1rem;
    font-size: 1rem;
}

.mat-table-expandable .mat-row:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.04);
}

.expand-content {
    display: flex;
    justify-content: space-evenly;
}

.add-button {
    background: #f9f9f9;
    color: black;
}