.custom-fab {
    padding: 1rem;
    background-color: grey; /* Cambiar el color de fondo a gris */
    box-shadow: none;       /* Eliminar la sombra predeterminada */
    color: white;           /* Cambiar el color del texto a blanco (opcional) */
  }
  
  /* Si deseas agregar un color diferente al pasar el ratón sobre el botón */
  .custom-fab:hover {
    background-color: darkgray; /* Cambiar el color al pasar el ratón */
  }
  

/* General container styling */
.container {
    display: flex;
    height: 100vh;
    border-radius: 0;
  }
  
  .sidenav {
    background-color: aliceblue;
    width: 250px;  /* Ajusta el ancho de la barra lateral */
  }
  
  .content {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  /* Header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    font-size: 24px;
    margin: 0;
  }
  
  /* Main content */
  main {
    flex-grow: 1;
    padding: 16px;
    background-color: #f9f9f9; /* Fondo para el contenido principal */
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 8px;
    margin-top: 16px;
  }
  
  mat-toolbar {
    padding: .5rem;
  }

  mat-list-item {
    align-items: center;
    justify-content: center;
  }
  
  /* Media query para dispositivos pequeños */
  @media (max-width: 768px) {
    .sidenav {
      width: 200px;
    }
  
    .content {
      padding: 8px;
    }
  
    header h1 {
      font-size: 20px;
    }
  
    footer {
      font-size: 14px;
    }
  }
  